body {
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 18px;
  }


  canvas {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #fff;
  }

  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  button {
    padding: 10px 12px;
    margin: 3px 2px;
    font-size: 18px;
    min-width: 80px;
    border-radius: 8px;
  }


  #resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  #marcadores {
    margin-top: 20px;
    font-size: 20px;
  }
  
  #rankingErrores {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #rankingErrores ul {
    list-style: none;
    padding: 0;
  }
  
  button.correcto {
    background-color: #4CAF50 !important; /* Verde */
    color: white;
  }
  
  button.incorrecto {
    background-color: #f44336 !important; /* Rojo */
    color: white;
  }
  